<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title dir="ltr"></title>
	<meta name="description" content="" />
	
	<link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
	<link rel="canonical" href="{{ production_url }}{{ page.url | replace:'index.html',''}}" />
</head>
<body>
	<header role="banner">
		<h2>Endgame.</h2>
	</header>